<p>
  <strong>Name:</strong>
  <%= @port.name %>
</p>

<p>
  <strong>Port code:</strong>
  <%= @port.port_code %>
</p>

<p>
  <strong>Shipment type:</strong>
  <%= @port.shipment_type.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @port.country.name %>
</p>

<%= link_to 'Edit', edit_port_path(@port) %> |
<%= link_to 'Back', ports_path %>
