<section class="splash edit-user-cover">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="intro-title" style="color: white">Edit <%= resource_name.to_s.humanize %></h1>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>


                <div class="field">
                  <%= f.email_field :username, autofocus: true, class: "form-group input-lg", placeholder: "Username" %>
                </div>
                  <div class="field">
                    <%= f.email_field :email, autofocus: true, class: "form-group input-lg", placeholder: "Email" %>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                  <div class="field">
                    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password", class: "form-group input-lg" %>
                  </div>

                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "New Password", class: "form-group input-lg" %>
                  </div>

                  <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password", class: "form-group input-lg" %>
                  </div>



                  <div class="actions">
                    <%= f.submit "Update", class: "btn btn-default" %>
                  </div>
                <% end %>
                <%= link_to "Back", :back, class: "btn btn-default" %>
            </div>
        </div>
    </div>
</section>
