<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>Import Countries</h1>
        <%= form_tag import_countries_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import Countries", class: "btn btn-lg btn-success" %>
        <% end %>
      </div>
      <div class="col-xs-12">
        <h1>Import Ports</h1>
        <%= form_tag import_ports_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import Ports", class: "btn btn-lg btn-success" %>
        <% end %>
      </div>
      <div class="col-xs-12">
        <h1>Import Rates</h1>
        <%= form_tag import_rates_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import Rates", class: "btn btn-lg btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
