<section>
    <container>
        <row>
          <div class="col-xs-12">
            <h1>User this page to import CSV Files</h1>
          </div>
            <div class="col-xs-12">
                <div id="no-more-tables">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr></tr>
                        </thead>
                        <tbody class="cf">
                            <tr>
                                <td>Rates</td>
                                <td><%= form_tag import_rates_path, multipart: true do %>
                                    <%= file_field_tag :file %></td>
                                <td><%= submit_tag "Import ", class: "btn btn-success" %>
                                    <% end %></td>
                            </tr>
                            <tr>
                                <td>Carriers</td>
                                <td><%= form_tag import_carriers_path, multipart: true do %>
                                    <%= file_field_tag :file %></td>
                                <td><%= submit_tag "Import ", class: "btn btn-success" %>
                                    <% end %></td>
                            </tr>
                            <tr>
                                <td>Countries</td>
                                <td><%= form_tag import_countries_path, multipart: true do %>
                                    <%= file_field_tag :file %></td>
                                <td><%= submit_tag "Import ", class: "btn btn-success" %>
                                    <% end %></td>
                            </tr>
                            <tr>
                                <td>Ports</td>
                                <td><%= form_tag import_ports_path, multipart: true do %>
                                    <%= file_field_tag :file %></td>
                                <td><%= submit_tag "Import ", class: "btn btn-success" %>
                                    <% end %></td>
                            </tr>
                            <tr>
                                <td>Carrier Types</td>
                                <td><%= form_tag import_carrier_types_path, multipart: true do %>
                                    <%= file_field_tag :file %></td>
                                <td><%= submit_tag "Import ", class: "btn btn-success" %>
                                    <% end %></td>
                            </tr>
                            <tr>
                                <td>Shipment Categories</td>
                                <td><%= form_tag import_shipment_categories_path, multipart: true do %>
                                    <%= file_field_tag :file %></td>
                                <td><%= submit_tag "Import ", class: "btn btn-success" %>
                                    <% end %></td>
                            </tr>
                            <tr>
                                <td>Units of Measure</td>
                                <td><%= form_tag import_unit_of_measures_path, multipart: true do %>
                                    <%= file_field_tag :file %></td>
                                <td><%= submit_tag "Import ", class: "btn btn-success" %>
                                    <% end %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </row>
    </container>
</section>
