<section class="splash home-cover" >
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-12">
              <h1 class="intro-title">Getting rates, the easy way.</h1>
        </div>
      </div>
    </div>
</section>


<!-- <section class="overview">
    <div class="container">
        <div>
            <%= image_tag 'focus.png' %>
            <h2>Accu<color style="color: #fbc93d">rate</color>
            </h2>
            <p>There is nothing worse than discovering your cost is inccurate. We'll make sure your data is active and up-to-date.</p>
        </div>
        <div>
            <%= image_tag 'startup.png' %>
            <h2>Illust<color style="color: #fbc93d">rate</color>
            </h2>
            <p>Presented elegantly with top-tier functionality and streamline processing in mind.</p>
        </div>
        <div>
            <%= image_tag 'coding.png' %>
            <h2>Gene<color style="color: #fbc93d">rate</color>
            </h2>
            <p>Provides flexibility for report customization and multi-conditional queries.</p>
        </div>
    </div>
</section> -->

<section class="feature bluebg">
    <div class="container">
        <%= image_tag 'iphone-device-mock.png' %>
        <div>
            <h1>Any Bid. Any Time.</h1>
            <p></p>
            <ul>
                <li>
                    <i class="fa fa-html5"></i>
                    <h3>Simple and Clean User Interface</h3>
                    <p>Just select an origin and destination, and you're 75% of the way there.</p>
                </li>
                <li>
                    <i class="fa fa-css3"></i>
                    <h3>Customizable</h3>
                    <p>We understand that everyone has their own system. Rate Cellar makes it easy to integrate and fit to your specifications.</p>
                </li>
                <li>
                    <i class="fa fa-code"></i>
                    <h3>Intelligent Analytics</h3>
                    <p>Keep track of past and present cost, allowing you to forecast for upcoming bids.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="feature greybg">
    <div class="container">
        <%= image_tag 'macbook-pro.png' %>
        <div>
            <h1>Easy but Powerful.</h1>
            <p>Rate Cellar is a modular and extendable web-application created to facilitate your logistics quoting process.</p>
            <ul>
                <li>
                    <i class="fa fa-html5"></i>
                    <h3>Simple and Clean User Interface</h3>
                    <p>Just select an origin and destination, and you're 75% of the way there.</p>
                </li>
                <li>
                    <i class="fa fa-css3"></i>
                    <h3>Customizable</h3>
                    <p>We understand that everyone has their own system. Rate Cellar makes it easy to integrate and fit to your specifications.</p>
                </li>
                <li>
                    <i class="fa fa-code"></i>
                    <h3>Intelligent Analytics</h3>
                    <p>Keep track of past and present cost, allowing you to forecast for upcoming bids.</p>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="cta">
    <div class="container">
        <h1>Research Less, Move More.</h1>
        <h2>Instead of wasting time researching rates, use that time to win more bids.</h2>

    </a>
</div>
</section>
