
<section class="splash">
    <div class="container">
        <div class="container-fluid">
          <h1 class="intro-title">RATE CELLAR.</h1>
          <h1 class="intro-description">Pick <color style="color: rgb(51, 122, 183)">A</color> to <color style="color: rgb(51, 122, 183)">B</color>. See <color style="color: rgb(51, 122, 183)">C</color>ost.</h1>

          <hr>
            <%= search_form_for @search do |f| %>
            <div class="row">
                <div class="col-md-6">
                    <div class="field">
                        <h4>ORIGIN</h4>
                        <div><%= f.text_field :origin_country_country_code_or_origin_country_name_or_origin_name_or_origin_port_code_cont, placeholder: "Ex: BAL, Port of Baltimore, US", class: "input-lg form-control" %></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <h4>DESTINATION</h4>
                        <%= f.text_field :destination_country_country_code_or_destination_country_name_or_destination_name_or_destination_port_code_cont, placeholder: "Ex: PVG, Shanghai, China", class: "input-lg form-control" %>
                    </div>
                </div>
            </div>
            <div class="row">
              <br>

              <div class="col-md-3">
                  <div class="field">
                      <h4>SHIPMENT TYPE</h4>
                      <%= f.collection_select :shipment_category_shipment_type_id_eq_any, ShipmentType.all, :id, :name, :include_blank => false, :multiple => true, :prompt => "Select Shipment Type", :select_prompt => "Select Shipment Category", class: "form-control"%>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="field">
                      <h4>SHIPMENT CATEGORY</h4>
                      <%= f.collection_select :shipment_category_id_eq_any, ShipmentCategory.all, :id, :name, :include_blank => true, :multiple => true, :prompt => "Select Category Type", :select_prompt => "Select Shipment Category", class: "form-control"%>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="field">
                      <h4>CARRIER</h4>
                      <%= f.text_field :carrier_name_cont, placeholder: "Ex: United Cargo, Carotrans, Seacorp", class: "input-lg form-control" %>

                  </div>
              </div>
            </div>
            <br>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <div><%= f.submit "Search", class: "btn btn-lg btn-primary actions" %>
                    <%= link_to "Clear Search", request.path, class:"btn btn-lg btn-warning" %></div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline"><h4>Sort by:</h4>
        <li class=""><%= sort_link(@search, :origin_port_code, "Origin Port Code") %></li> |
        <li><%= sort_link(@search, :destination_port_code, "Destination Port Code") %></li> |
        <li><%= sort_link(@search, :origin_name, "Origin Name") %></li> |
        <li><%= sort_link(@search, :destination_name, "Destination Name") %></li> |
        <li><%= sort_link(@search, :carrier_name, "Carrier") %></li> |
        <li><%= sort_link(@search, :shipment_category_name, "Category") %></li> |
        <li><%= sort_link(@search, :cost, "Base Cost") %></li>
      </ul>
      </div>
        <div class="col-sm-12">
            <div id="no-more-tables">
                <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Carrier</th>
                            <th>Shipment category</th>
                            <th>Base Cost</th>
                            <th>Unit of measure</th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>

                    <tbody class="cf">
                        <% @rates.each do |rate| %>
                        <tr>
                            <td data-title="Origin"><%= rate.origin.port_code %> | <%= rate.origin.name %></td>
                            <td data-title="Destination"><%= rate.destination.port_code %> | <%= rate.destination.name %></td>
                            <td data-title="Carrier"><%= rate.carrier.name %></td>
                            <td data-title="Shipment Category"><%= rate.shipment_category.name %></td>
                            <td data-title="Cost"><%= number_to_currency(rate.cost) %></td>
                            <td data-title="Unit of Measure"><%= rate.unit_of_measure.name %></td>
                            <td class="text-center"><%= link_to 'Info', rate, class: "btn btn-xs btn-info" %>
                                <%= link_to 'Edit', edit_rate_path(rate), class: "btn btn-xs btn-warning" %>
                                <%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <%= link_to 'New Rate', new_rate_path, class: "btn btn-success" %>

        </div>
    </div>
</div>
