<section class="splash rates-cover">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="intro-description text-center">From
                    <color style="color: rgb(189, 60, 60)">A</color>
                    to
                    <color style="color: rgb(189, 60, 60)">B</color>, in one
                    <color style="color: rgb(189, 60, 60)">C</color>lick!</h1>

                <%= search_form_for @search do |f| %>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="field">
                            <div><%= f.text_field :origin_country_country_code_or_origin_name_or_origin_port_code_cont, placeholder: "FROM: BAL, Baltimore, Port of Baltimore", class: "input-lg form-control" %></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="field">
                            <%= f.text_field :destination_country_country_code_or_destination_name_or_destination_port_code_cont, placeholder: "TO: PVG, Shanghai, Port of Shanghai", class: "input-lg form-control" %>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row text-left">
                    <div class="col-xs-12">
                        <h3>Additional Options</h3>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="col-xs-12">
                          <%= f.collection_select :origin_country_id_eq_any, Country.order('name ASC'), :id, :name, class: "form-control", include_blank: true, prompt: "Origin Country" %>

                        </div>
                        <div class="col-xs-12">
                            <%= f.collection_select :destination_country_id_eq_any, Country.order('name ASC'), :id, :name, class: "form-control", include_blank: true, prompt: "Destination Country" %>
                        </div>
                        <div class="col-xs-12">
                            <%= f.collection_select :carrier_id, Carrier.all, :id, :name, include_blank: true, prompt: "Carrier: United Cargo, Seacorp" %>
                        </div>
                        <div class="col-xs-12">
                            <%= f.collection_select :shipment_category_shipment_type_id_eq_any, ShipmentType.all, :id, :name, :include_blank => true, :multiple => true, :prompt => "Type: Air, Ocean",  class: "form-control"%>
                        </div>
                        <div class="col-xs-12">
                            <%= f.collection_select :shipment_category_id_eq_any, ShipmentCategory.all, :id, :name, :include_blank => true, :multiple => true, :prompt => "Category: FCL, LCL, Airfreight",  class: "form-control"%>
                        </div>
                        <div class="col-xs-12">
                            <%= f.collection_select :unit_of_measure_id_eq_any, UnitOfMeasure.all, :id, :name, :prompt => "UOM", :include_blank => true, class: "form-control" %>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-6"></div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <button class="actions btn btn-lg btn-success">Search<% f.submit "Search"%></button>
                        <%= link_to "Clear", request.path, class: "btn btn-lg btn-warning"%>
                    </div>
                    <div class="col-md-3 col-xs-12"></div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
<section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline">
                    <h4>Sort by:</h4>
                    <li><%= sort_link(@search, :origin_port_code, "Origin Port Code") %></li>
                    |
                    <li><%= sort_link(@search, :destination_port_code, "Destination Port Code") %></li>
                    |
                    <li><%= sort_link(@search, :origin_name, "Origin Name") %></li>
                    |
                    <li><%= sort_link(@search, :destination_name, "Destination Name") %></li>
                    |
                    <li><%= sort_link(@search, :carrier_name, "Carrier") %></li>
                    |
                    <li><%= sort_link(@search, :shipment_category_name, "Shipment Category") %></li>
                    |
                    <li><%= sort_link(@search, :cost, "Cost") %></li>
                    |
                    <li><%= sort_link(@search, :unit_of_measure_name, "Unit of Measure") %></li>
                </ul>
            </div>
            <div class="col-sm-12">
                <div id="no-more-tables">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Seller</th>
                                <th>Carrier</th>
                                <th>Shipment category</th>
                                <th>Cost</th>
                                <th>Unit of measure</th>
                                <th>Date Added</th>
                                <th colspan="3"></th>
                            </tr>
                        </thead>

                        <tbody class="cf">
                            <% @rates.each do |rate| %>
                            <tr>
                                <td data-title="Origin"><%= rate.origin.port_code %>
                                    |
                                    <%= rate.origin.name %></td>
                                <td data-title="Destination"><%= rate.destination.port_code %>
                                    |
                                    <%= rate.destination.name %></td>
                                <td><%= rate.seller.name %></td>
                                <td data-title="Carrier"><%= rate.carrier.name %></td>
                                <td data-title="Shipment Category"><%= rate.shipment_category.name %></td>
                                <td data-title="Cost"><%= number_to_currency(rate.cost) %></td>
                                <td data-title="Unit of Measure"><%= rate.unit_of_measure.name %></td>
                                <td data-title="Date Added"><%= rate.created_at.strftime("%d %b %y") %></td>

                                <td class="text-center"><%= link_to "<i class='glyphicon glyphicon-info-sign'></i>".html_safe, rate, class: "button info" %></td>

                                <td><%= link_to "<i class='glyphicon glyphicon-check'></i>".html_safe, edit_rate_path(rate), :class => "button edit" %>
                                    <%= link_to "<i class='glyphicon glyphicon-remove-circle'></i>".html_safe, rate, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button delete" %></td>

                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <%= link_to 'New Rate', new_rate_path, class: "btn btn-lg btn-primary" %>

            </div>
        </div>
    </div>
</section>
