<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @rate.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @rate.destination %>
</p>

<p>
  <strong>Carrier:</strong>
  <%= @rate.carrier %>
</p>

<p>
  <strong>Shipment category:</strong>
  <%= @rate.shipment_category %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @rate.cost %>
</p>

<p>
  <strong>Uni of measure:</strong>
  <%= @rate.uni_of_measure %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
