<%= form_for(extra_charge_range) do |f| %>
  <% if extra_charge_range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extra_charge_range.errors.count, "error") %> prohibited this extra_charge_range from being saved:</h2>

      <ul>
      <% extra_charge_range.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
