<p id="notice"><%= notice %></p>

<h1>Extra Charge Ranges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extra_charge_ranges.each do |extra_charge_range| %>
      <tr>
        <td><%= extra_charge_range.name %></td>
        <td><%= extra_charge_range.description %></td>
        <td><%= link_to 'Show', extra_charge_range %></td>
        <td><%= link_to 'Edit', edit_extra_charge_range_path(extra_charge_range) %></td>
        <td><%= link_to 'Destroy', extra_charge_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extra Charge Range', new_extra_charge_range_path %>
