<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @extra_charge_range.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @extra_charge_range.description %>
</p>

<%= link_to 'Edit', edit_extra_charge_range_path(@extra_charge_range) %> |
<%= link_to 'Back', extra_charge_ranges_path %>
