  <div class="navbar navbar-custom navbar-fixed-top invisible-nav" >
    <div class="container-fluid navbar-fluff">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <%= link_to "KRATES", root_path , class: 'navbar-brand'%>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-custom navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
              <li class="<%= 'active' if current_page?(rates_path) %>"><%= link_to "Rates", rates_path %></li>
              <li class="<%= 'active' if current_page?(countries_path) %>"><%= link_to "Countries", countries_path %></li>
              <li class="<%= 'active' if current_page?(ports_path) %>"><%= link_to "Ports", ports_path %></li>
              <li class="<%= 'active' if current_page?(carriers_path) %>"><%= link_to "Carriers", carriers_path %></li>
              <li class="<%= 'active' if current_page?(pages_documentation_path) %>"><%= link_to "Documentation", pages_documentation_path %></li>
              <li class="<%= 'active' if current_page?(pages_import_path) %>"><%= link_to "Import", pages_import_path %></li>

          </ul>
      </div>
    </div>
          <!-- Brand and toggle get grouped for better mobile display -->

          <!-- /.navbar-collapse -->
      <!-- /.container-fluid -->
  </div>
