

  <div class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to "KRATE", root_path , class: 'navbar-brand' %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left">
                  <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
                  <li class="<%= 'active' if current_page?(countries_path) %>"><%= link_to "Countries", countries_path %></li>
                  <li class="<%= 'active' if current_page?(ports_path) %>"><%= link_to "Ports", ports_path %></li>
                  <li class="<%= 'active' if current_page?(carriers_path) %>"><%= link_to "Carriers", carriers_path %></li>

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                <p class="navbar-text">Logged in as <strong><%= current_user.email %></strong></p>
                <li><%= link_to 'Edit profile', edit_user_registration_path%></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      <!-- /.container-fluid -->
  </div>
